{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block title %}Listado de Categoria{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">

                        Listado de Categoria

                        <div class="float-end">
                            <a href="{{ path('pCreate') }}" class="btn btn-sm squred btn-primary">Crear</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Categoria</th>
                                    <th>Producto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Categoria</td>
                                    <td>Producto</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Third group">
                                            <a href='' class="btn btn-sm squred btn-info mr-1"> Ver </a>
                                            <a href='' class="btn btn-sm squred btn-warning mr-1"> Editar </a>
                                            <a href='' class="btn btn-sm squred btn-danger mr-1"> Eliminar </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>            
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}
