{% extends 'base.html.twig' %}

{% block title %}Crear Producto{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">

                        Crear de productos

                        <div class="float-end">
                            <a href="{{ path('products') }}" class="btn btn-sm squred btn-primary">Regresar</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class='container'>
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
